Repository AGES-Pro-Mata/frontend, pull requests merged in 2025-09, with the labels that each got.

#56 Feature/default button
  src/components/ui/defaultButton.tsx
Labels: enhancement, user, admin

#63 33 page criar experiência adm
  package-lock.json
  package.json
  src/api/experience.ts
  src/components/forms/createExperience.tsx
  src/components/forms/index.ts
  src/components/layouts/admin/content.layout.tsx
  src/components/layouts/admin/root.layout.tsx
  src/components/ui/calendar.tsx
  src/components/ui/dialog.tsx
  src/components/ui/popover.tsx
  src/hooks/useCreateExperience.ts
  src/routes/admin/experiences/$experienceId.tsx
  src/routes/admin/experiences/create.tsx
  src/routes/admin/route.tsx
  src/styles/globals.css
  src/types/experiences.ts
Labels: enhancement, admin

#73 Feature/my profile
  src/api/user.ts
  src/components/auth/authcard.tsx
  src/components/buttons/defaultButton.tsx
  src/components/buttons/greyButton.tsx
  src/components/cards/cardInfoOnHover.tsx
  src/components/cards/index.ts
  src/components/cards/userProfileCard.tsx
  src/components/carousel/carousel.tsx
  src/components/display/index.ts
  src/components/display/reservationEvents.tsx
  src/components/display/showInfo.tsx
  src/components/forms/createExperienceForm.tsx
  src/components/forms/editProfileForm.tsx
  src/components/forms/forgotPasswordForm.tsx
  src/components/forms/index.ts
  src/components/forms/loginForm.tsx
  src/components/forms/registerUserForm.tsx
  src/components/forms/resetPasswordForm.tsx
  src/components/layouts/dashboard/components/header-drawer-mobile.tsx
  src/components/layouts/dashboard/components/headerDrawerMobile.tsx
  src/components/layouts/dashboard/footer.layout.tsx
  src/components/layouts/dashboard/header.layout.tsx
  src/components/ui/svgs/arrow.tsx
  src/components/ui/svgs/line.tsx
  src/hooks/useCurrentUser.ts
  src/hooks/useUpdateUser.ts
  src/lib/utils.ts
  src/routes/(index)/auth/forgot-password.tsx
  src/routes/(index)/auth/login.tsx
  src/routes/(index)/auth/redefine.$token.tsx
  src/routes/(index)/auth/register.tsx
  src/routes/(index)/index.tsx
  src/routes/(index)/user/my-profile/index.tsx
  src/routes/(index)/user/profile/edit-profile.tsx
  src/routes/(index)/user/profile/index.tsx
  src/routes/(index)/user/route.tsx
  yarn.lock
Labels: enhancement, user
